body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #495057;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.image-profile {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
    border: 4px solid #007bff;
}

.profile-description {
    font-style: italic;
    color: #6c757d;
}

h2 {
    color: #007bff;
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.skills {
    list-style-type: none;
    padding: 0;
}

.skills li {
    margin-bottom: 8px;
}

footer {
    margin-top: 20px;
    padding: 10px 0;
    background-color: #007bff;
    color: #fff;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}
